nav{
    background-color: rgb(248, 248, 248);
}

body{
    background-color: rgb(255, 212, 172);
}
.title-list{
    font-size: 1.4em;
    text-align: center;
}
.table{
    margin: 10px;
    margin-top: 30px;
}
td, th, tr{
    border: solid black 1px;
    
}
#form{
    background-color: aquamarine;
}