nav{
    background-color: rgba(245, 158, 104, 0.668);
    font-size: 1.2em;
    text-align: center;
    border: solid black 1px;
    margin-bottom: 30px;
}
.nav-link{
   border: solid rgb(15, 15, 14) 1.5px;
   margin-left: 8px;
   border-radius: 0.2em;
   background-color: rgb(255, 255, 255);
   padding: 1.5px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgb(255, 212, 172);
}
.title-list{
    font-size: 1.4em;
    
}
.table{
    background-color: white;
    margin: 10px;
    margin-top: 30px;
    width: 60%; 
}
td, th, tr{
    border: solid black 1px;
}
#form{
    height: 300px;
    width: 500px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.detalle{
    width: 100%;
    background-color: white;
    margin: 10px;
    text-align: center;
}