body{
    background-color: rgb(136, 136, 216);
}
nav{
    background-color: rgb(43, 63, 208);
}
table, td, th, tr{
    border: solid black 2px;
    background-color:rgb(199, 205, 255);
    text-align: center;    
}
td.pad{
    padding: 10px;
    
}
.title-list{
    font-size: 1.4em;
    text-align: center;
    margin: 2em;
}
